:root{
    --background: #212531;
    --background-content: #282b36;
    --background-submit: #3b5ac9;
    --background-submit-variant: #4c68ca;
    --border-content: rgba(255, 255, 255, 0.171);
    --text: #eee;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: 'Ubuntu Mono', 'Anonymous Pro', monospace;
}

body{
    background: var(--background);
    color: var(--text);
}

.main{
    width: 100%;
    position: relative;
    display: block;
}

.cont{
    margin:6% auto;
}


.form.cont{
    width: 310px;
    position: relative;
    background: var(--background-content);
    border-radius: 12px;
    border: 2px solid var(--border-content);

}


form{
    width: 100%;
    position: relative;
    padding: 2em;
    border-bottom: 2px solid var(--border-content);
}

.form-group{
    margin: 1em auto;
    position: relative;
    height: 70px;
    width: 100%;

    label{
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        cursor: text;
        pointer-events: none;
        border-radius: 6px;
        border: 1px solid var(--border-content);
        color: var(--text);



        span{
            position: absolute;
            top: calc(50%);
            left: 20px;
            transform: translate(5%, calc(-50%));
            font-size: 13px;
        }

        
    }

    input, select, textarea{
        background: var(--border-content);
        border: 1px solid var(--border-content);
        color: var(--text);
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 20px 0 0 20px;
        outline: none;
        border-radius: 6px;


        &:hover + label span, &:focus + label span, &:valid + label span{
            transform: translate(5%, -125%);
            opacity: 0.68;
        }

    }

    textarea{
        padding: 0 0 0 20px;

        &:hover + label span, &:focus + label span, &:valid + label span{
            opacity: 0.08!important;
        }
    }

}

.image.form-group{
    input{

        background: var(--border-content);
        border: 1px solid var(--border-content);
        color: var(--text);
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 20px 0 0 20px;
        outline: none;
        border-radius: 6px;
    
    
    }

    label{
        pointer-events: all;
        cursor: pointer;
        
        span{
            background: var(--background-submit);
            border: 3px solid var(--border-content);
            color: var(--text);
            outline: none;
            padding: 0.45em 0.85em;
            border-radius: 36px;
            transform: translate(125%, -50%);

            span{
                background:transparent;
                border:none;
                color: var(--text);
                outline: none;
                padding: 0;
                border-radius: 0;
                left: 0%;
                transform: translate(-125%, -50%);
                position: absolute;
            }

            &:hover{
                background: var(--background-submit-variant);
            }
            &:active{
                transform: translate(125%, -40%);
            }
        }
    }

}

.social-form-group{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .social{
        width: 85%;
        height: 40px;
        position: relative;
        margin: 0.65em auto;

        label{
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            cursor: text;
            pointer-events: none;
            border-radius: 6px;
            background: var(--border-content);
            border: 1px solid var(--border-content);
            color: var(--text);
    
    
    
            span{
                position: absolute;
                top: calc(50%);
                left: 20px;
                transform: translate(5%, calc(-50%));
                font-size: 13px;
            }
    
        }
        
        input, select{
            background: var(--border-content);
            border: 1px solid var(--border-content);
            color: var(--text);
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 0 0 0 20px;
            outline: none;
            border-radius: 6px;
    
    
            &:hover + label span, &:focus + label span, &:valid + label span{
                transform: translate(5%, -125%);
                opacity: 0.08;
            }
        }

        select{
            padding: 0 0 0 0;
            text-align: center;

            &:focus{
                color: var(--background);
            }
            // &:valid{
            //     color: var(--text)
            // }
        }
    

    }

    .social.cont{

        &:nth-of-type(1){
            grid-row: 1;
            grid-column: 1;
        }
        &:nth-of-type(2){
            grid-row: 2;
            grid-column: 1;
        }
    }
    .social.icon-cont{

        &:nth-of-type(1){
            grid-row: 1;
            grid-column: 2;
        }
        &:nth-of-type(1){
            grid-row: 1;
            grid-column: 2;
        }
    }
}

.action-btn{
    margin: auto;
    display: block;
    margin: 1em auto;
    background: var(--background-submit);
    padding: 0.35em 1em;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    color: var(--text);

    &:hover, &:active, &:focus{
        background: var(--background-submit-variant);
    }
}


.submit-cont{
    width: 100%;
    padding: 2em 0 0 0;

    input{
        background: var(--background-submit);
        border: 1px solid var(--border-content);
        color: var(--text);
        width: 100%;
        height: 100%;
        outline: none;
        padding: 0.65em 0.25em;
        cursor: pointer;
        border-radius: 6px;

        &:hover{
            background: var(--background-submit-variant);
        }

    }
}

.output-cont{
    width: 100%;
    padding: 1em;

    pre{
        background: var(--border-content);
        border: 1px solid var(--border-content);
        color: var(--text);
        width: 100%;
        height: 100%;
        outline: none;
        padding: 0.65em 0.25em;
        border-radius: 6px
    }
}


.cont{
    position: relative;
    width: 310px;
    margin:8% auto;
    background: var(--background-content);
    border-radius: 12px;
    border: 2px solid var(--border-content);
}

.users.cont{
    // grid-column: 2;

    div#users{
        padding: 2em;
        display: flex;
        justify-content: center;

        ul{
            li{
                list-style: none;
                background: var(--background-content);
                border: 2px solid var(--border-content);
                border-bottom-style: none;
                cursor: pointer;

                &:nth-of-type(1), &:nth-of-type(1) button{
                    border-radius: 6px 6px 0 0;
                }

                &:nth-last-of-type(1), &:nth-last-of-type(1) button{
                    border-radius: 0 0 6px 6px;
                    border-bottom-style: solid;
                }

                button{
                    width: 100%;
                    height: 100%;
                    background: var(--background);
                    color: var(--text);
                    padding: 0.88em;
                    border: 0px solid #ffffff00;
                    cursor: pointer;
                    

                    &:hover, &:active, &:focus{
                        background: var(--background-content);   
                    }
                }
            }
        }
    }

}

.download.cont{
    // position: relative;
    // width: 310px;
    // margin:6% auto;
    // background: var(--background-content);
    // border-radius: 12px;
    // border: 2px solid var(--border-content);


}

@media screen and (min-width: 680px){

    .main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1.4em;
        padding: 1em;    
    }

    .cont{
        margin: 6% 10%;
        float: left;
    }
    .form.cont{
        width: 80%;
        grid-column: 1;
    }
    .users.cont{
        width: 80%;
        grid-column: 2;
    }
    .download.cont{
        width: 80%;
        grid-column: 2;
    }
}
