:root {
  --background: #212531;
  --background-content: #282b36;
  --background-submit: #3b5ac9;
  --background-err: #c93b66;
  --background-submit-variant: #4c68ca;
  --border-content: rgba(255, 255, 255, 0.171);
  --text: #eee;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-family: 'Ubuntu Mono', 'Anonymous Pro', monospace;
}

body {
  background: var(--background);
  color: var(--text);
}

.main {
  width: 100%;
  position: relative;
  display: block;
}

.cont {
  margin: 6% auto;
}

.form.cont {
  width: 310px;
  position: relative;
  background: var(--background-content);
  border-radius: 12px;
  border: 2px solid var(--border-content);
}

form {
  width: 100%;
  position: relative;
  padding: 2em;
  border-bottom: 2px solid var(--border-content);
}

.form-group {
  margin: 1em auto;
  position: relative;
  height: 70px;
  width: 100%;
}

.form-group label {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  cursor: text;
  pointer-events: none;
  border-radius: 6px;
  border: 1px solid var(--border-content);
  color: var(--text);
}

.form-group label span {
  position: absolute;
  top: calc(50%);
  left: 20px;
  -webkit-transform: translate(5%, calc(-50%));
          transform: translate(5%, calc(-50%));
  font-size: 13px;
}

.form-group input, .form-group select, .form-group textarea {
  background: var(--border-content);
  border: 1px solid var(--border-content);
  color: var(--text);
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px 0 0 20px;
  outline: none;
  border-radius: 6px;
}

.form-group input:hover + label span, .form-group input:focus + label span, .form-group input:valid + label span, .form-group select:hover + label span, .form-group select:focus + label span, .form-group select:valid + label span, .form-group textarea:hover + label span, .form-group textarea:focus + label span, .form-group textarea:valid + label span {
  -webkit-transform: translate(5%, -125%);
          transform: translate(5%, -125%);
  opacity: 0.68;
}

.form-group textarea {
  padding: 0 0 0 20px;
}

.form-group textarea:hover + label span, .form-group textarea:focus + label span, .form-group textarea:valid + label span {
  opacity: 0.08 !important;
}

.image.form-group input {
  background: var(--border-content);
  border: 1px solid var(--border-content);
  color: var(--text);
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px 0 0 20px;
  outline: none;
  border-radius: 6px;
}

.image.form-group label {
  pointer-events: all;
  cursor: pointer;
}

.image.form-group label span {
  background: var(--background-submit);
  border: 3px solid var(--border-content);
  color: var(--text);
  outline: none;
  padding: 0.45em 0.85em;
  border-radius: 36px;
  -webkit-transform: translate(125%, -50%);
          transform: translate(125%, -50%);
}

.image.form-group label span span {
  background: transparent;
  border: none;
  color: var(--text);
  outline: none;
  padding: 0;
  border-radius: 0;
  left: 0%;
  -webkit-transform: translate(-125%, -50%);
          transform: translate(-125%, -50%);
  position: absolute;
}

.image.form-group label span:hover {
  background: var(--background-submit-variant);
}

.image.form-group label span:active {
  -webkit-transform: translate(125%, -40%);
          transform: translate(125%, -40%);
}

.social-form-group {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.social-form-group .social {
  width: 85%;
  height: 40px;
  position: relative;
  margin: 0.65em auto;
}

.social-form-group .social label {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  cursor: text;
  pointer-events: none;
  border-radius: 6px;
  background: var(--border-content);
  border: 1px solid var(--border-content);
  color: var(--text);
}

.social-form-group .social label span {
  position: absolute;
  top: calc(50%);
  left: 20px;
  -webkit-transform: translate(5%, calc(-50%));
          transform: translate(5%, calc(-50%));
  font-size: 13px;
}

.social-form-group .social input, .social-form-group .social select {
  background: var(--border-content);
  border: 1px solid var(--border-content);
  color: var(--text);
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 0 0 20px;
  outline: none;
  border-radius: 6px;
}

.social-form-group .social input:hover + label span, .social-form-group .social input:focus + label span, .social-form-group .social input:valid + label span, .social-form-group .social select:hover + label span, .social-form-group .social select:focus + label span, .social-form-group .social select:valid + label span {
  -webkit-transform: translate(5%, -125%);
          transform: translate(5%, -125%);
  opacity: 0.08;
}

.social-form-group .social select {
  padding: 0 0 0 0;
  text-align: center;
}

.social-form-group .social select:focus {
  color: var(--background);
}

.social-form-group .social.cont:nth-of-type(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.social-form-group .social.cont:nth-of-type(2) {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.social-form-group .social.icon-cont:nth-of-type(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.social-form-group .social.icon-cont:nth-of-type(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.action-btn {
  display: block;
  margin: 1em auto;
  background: var(--background-submit);
  padding: 0.35em 1em;
  border: none;
  border-radius: 36px;
  cursor: pointer;
  color: var(--text);
}

.action-btn:hover, .action-btn:active, .action-btn:focus {
  background: var(--background-submit-variant);
}

.submit-cont {
  width: 100%;
  padding: 2em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submit-cont .buttons {
  background: var(--background-submit);
  border: 1px solid var(--border-content);
  color: var(--text);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.submit-cont .buttons:hover, .submit-cont .buttons:focus {
  background: var(--background-submit-variant);
}

.submit-cont .buttons:active {
  background: var(--background-submit-variant);
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.submit-cont input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0.65em 0.25em;
}

.submit-cont button#reset {
  font-size: 1.15em;
  padding: 0 0.75em;
  margin: 0 0 0 0.75em;
}

.output-cont {
  width: 100%;
  padding: 1em;
}

.output-cont pre {
  background: var(--border-content);
  border: 1px solid var(--border-content);
  color: var(--text);
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0.65em 0.25em;
  text-align: center;
  border-radius: 6px;
}

.cont {
  position: relative;
  width: 310px;
  margin: 8% auto;
  background: var(--background-content);
  border-radius: 12px;
  border: 2px solid var(--border-content);
}

.cont div.output-cont {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont div.output-cont ul li {
  list-style: none;
  background: var(--background-content);
  border: 2px solid var(--border-content);
  border-bottom-style: none;
  position: relative;
}

.cont div.output-cont ul li:focus button.delete, .cont div.output-cont ul li:hover button.delete {
  -webkit-transform: translate(150%, -50%) rotateZ(360deg);
          transform: translate(150%, -50%) rotateZ(360deg);
}

.cont div.output-cont ul li a {
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: block;
}

.cont div.output-cont ul li a:focus + button.delete, .cont div.output-cont ul li a:hover + button.delete {
  -webkit-transform: translate(150%, -50%) rotateZ(360deg);
          transform: translate(150%, -50%) rotateZ(360deg);
}

.cont div.output-cont ul li button.delete {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(0%, -50%) rotateZ(0deg);
          transform: translate(0%, -50%) rotateZ(0deg);
  background: var(--background-submit);
  border: 1px solid var(--border-content);
  color: var(--text);
  border-radius: 60px;
  height: 30px;
  cursor: pointer;
  width: 30px;
  /* display: -webkit-box; */
  /* display: flex; */
  /* text-align: center; */
  /* -webkit-box-align: center; */
  /* align-items: center; */
  /* -webkit-box-pack: center; */
  /* justify-content: center; */
}

.cont div.output-cont ul li button.delete span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.cont div.output-cont ul li button.delete:hover, .cont div.output-cont ul li button.delete:focus {
  background: var(--background-submit-variant);
}

.cont div.output-cont ul li button.delete:active {
  background: var(--background-submit-variant);
  -webkit-transform: translate(150%, -45%) rotateZ(0deg);
          transform: translate(150%, -45%) rotateZ(0deg);
}

.cont div.output-cont ul li:nth-of-type(1), .cont div.output-cont ul li:nth-of-type(1) a button {
  border-radius: 6px 6px 0 0;
}

.cont div.output-cont ul li:nth-last-of-type(1), .cont div.output-cont ul li:nth-last-of-type(1) a button {
  border-radius: 0 0 6px 6px;
  border-bottom-style: solid;
}

.cont div.output-cont ul li button {
  width: 100%;
  height: 100%;
  background: var(--background);
  color: var(--text);
  padding: 0.88em;
  border: 0px solid #ffffff00;
  cursor: pointer;
}

.cont div.output-cont ul li button:hover, .cont div.output-cont ul li button:active, .cont div.output-cont ul li button:focus {
  background: var(--background-content);
}

#alerts-cont {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

#alerts-cont ul {
  position: relative;
  direction: rtl;
}

#alerts-cont ul li {
  direction: ltr;
  position: relative;
  margin: 10% 0;
  padding: 0.65em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--background-err);
}

#alerts-cont ul li.info {
  background: var(--background-submit);
}

#alerts-cont ul li button {
  position: relative;
  color: var(--background);
  border-radius: 60px;
  height: 30px;
  cursor: pointer;
  width: 30px;
  background: var(--text);
  margin: 0 0 0 0.85em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

@media screen and (min-width: 680px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    grid-gap: 1.4em;
    padding: 1em;
  }
  .cont {
    margin: 6% 10%;
    float: left;
  }
  .form.cont {
    width: 80%;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .users.cont {
    width: 80%;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .download.cont {
    width: 80%;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}
/*# sourceMappingURL=style.css.map */