:root{
    --background: #212531;
    --background-content: #282b36;
    --border-content: rgba(255, 255, 255, 0.171);
    --text: #eee;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: monospace;
}

body{
    background: var(--background);
    color: var(--text);
}

.main{
    width: 100%;
    position: relative;
}

.form-cont{
    width: 310px;
    position: relative;
    margin:10% auto;
    background: var(--background-content);
    border-radius: 12px;
    border: 2px solid var(--border-content);

}

form{
    width: 100%;
    position: relative;
    padding: 2em;
}

.form-group{
    margin: 1em auto;
    position: relative;
    height: 70px;
    width: 100%;

    label{
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        cursor: text;
        pointer-events: none;
        border-radius: 6px;
        border: 1px solid var(--border-content);
        color: var(--text);



        span{
            position: absolute;
            top: calc(50%);
            left: 20px;
            transform: translate(5%, calc(-50%));
            font-size: 13px;
        }

        
    }

    input, select, textarea{
        background: var(--border-content);
        border: 1px solid var(--border-content);
        color: var(--text);
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 20px 0 0 20px;
        outline: none;
        border-radius: 6px;


        &:hover + label span, &:focus + label span, &:valid + label span{
            transform: translate(5%, -125%);
            opacity: 0.68;
        }

    }

    textarea{
        &:hover + label span, &:focus + label span, &:valid + label span{
            opacity: 0.08!important;
        }
    }

}

.social-form-group{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .social{
        width: 85%;
        height: 40px;
        position: relative;
        margin: 0.65em auto;

        label{
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            cursor: text;
            pointer-events: none;
            border-radius: 6px;
            background: var(--border-content);
            border: 1px solid var(--border-content);
            color: var(--text);
    
    
    
            span{
                position: absolute;
                top: calc(50%);
                left: 20px;
                transform: translate(5%, calc(-50%));
                font-size: 13px;
            }
    
        }
        
        input, select{
            background: var(--border-content);
            border: 1px solid var(--border-content);
            color: var(--text);
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 0 0 0 20px;
            outline: none;
            border-radius: 6px;
    
    
            &:hover + label span, &:focus + label span, &:valid + label span{
                transform: translate(5%, -125%);
                opacity: 0.08;
            }
        }

        select{
            padding: 0 0 0 0;
            text-align: center;

            &:focus{
                color: var(--background);
            }
            &:valid{
                color: var(--text)
            }
        }
    

    }

    .social.cont{

        &:nth-of-type(1){
            grid-row: 1;
            grid-column: 1;
        }
        &:nth-of-type(2){
            grid-row: 2;
            grid-column: 1;
        }
    }
    .social.icon-cont{

        &:nth-of-type(1){
            grid-row: 1;
            grid-column: 2;
        }
        &:nth-of-type(1){
            grid-row: 1;
            grid-column: 2;
        }
    }
}
